<section>
  <div class="product">
    <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
    <div class="description">
      <h3>Stubborn Attachments</h3>
      <h5>$20.00</h5>
    </div>
  </div>
  <button (click)="checkout()" id="checkout-button">Checkout</button>
</section>

<h1>Payment page</h1>

<div class="payment-data">
  {{ params | json }}
</div>

<button style="background-color: rgb(98, 173, 98);" (click)="returnSuccess()">Success</button>
<button style="background-color: rgb(219, 103, 108);" (click)="returnFailure()">Failure</button>
